<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>WizardNeeds</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="script.js"></script>
</head>

<body>
  <div id="wrapper">
  <div id="header">WizardNeeds</div>
    <div id="content">
        <div id="main">
        <h2>Sua varinha</h2>
        <img class="house" src=images/wand.jpg alt="hous">
        <p>Sempre que bruxos são vistos portanto uma varinha de cedro, são geralmente pessoas com força de caráter e lealdade fora de comum. Gervaise Olivaras, costumava sempre dizer 'você nunca enganará o dono de cedro', a varinha de cedro encontra seu lar perfeito onde existe perspicácia e percepção. Eu iria ainda mais longe que meu pai, no entanto, em dizer que nunca encontrei um dono de uma varinha de cedro ao qual eu me atreveria a cruzar o caminho, especialmente se algum mal for feito àqueles que ele ama. O bruxo que for bem colocado com cedo carrega o potencial de ser um adversário assustador, que geralmente choca aos que não pensaram antes de desafiá-los.</p>
      </div>
    <div id="links">
        <h2>Sua casa</h2>
        <img class="house" src=images/house.png alt="hous">
        <p>A Corvinal é uma casa conhecida pela inteligência de seus membros. Ela valoriza a aprendizagem, sagacidade, sabedoria e intelecto. Além disso, os Corvinais podem ser bem excêntricos, originais e criativos. É comum para eles utilizarem feitiços ou procurarem magias que alunos de outras casas não possuem conhecimento.</p>
    </div>
    <div id="news">
    <blockquote>
    <h2>Chapéu seletor</h2>
  <p>Or yet in wise old Ravenclaw, If you’ve a ready mind, Where those of wit and learning, Will always find their kind.</p>
</blockquote>
    </div>
    </div>
  </div>
</body>

</html>